<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/main.css">
  <title>Contacts</title>
</head>
<body>
  <header class="header">
    <div class="container">
      <nav class="navigation">
        <ul class="menu-list">
          <li class="menu-list-item">
            <a href="../index.html" class="menu-link">Главная</a>
          </li>
          <li class="menu-list-item">
            <a href="#" class="menu-link">Обо мне</a>
          </li>
          <li class="menu-list-item">
            <a href="portfolio.html" class="menu-link">Портфолио</a>
          </li>
          <li class="menu-list-item">
            <a href="contacts.html" class="menu-link">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="burger">
    <span class="burger__item"></span>
    <span class="burger__item"></span>
    <span class="burger__item"></span>
  </div>

  <section class="section numbers">
    <div class="container">
      <div class="section__content-box numbers-box">
        <div class="numbers-about">
          <h2 class="section__title text-center">Макс Гиль</h2>
          <p class="numbers-description">
            за меня всё скажут цифры
          </p>
        </div>
        <ul class="numbers-list">
          <li class="numbers-list__item">
            <span class="span-number">4+</span>  
            <span class="span-text">года опыта</span>
          </li>
          <li class="numbers-list__item">
            <span class="span-number">0</span>  
            <span class="span-text">недовольных клиентов</span>
          </li>
          <li class="numbers-list__item">
            <span class="span-number">3</span> 
            <span class="span-text">члена команды</span>
          </li>
          <li class="numbers-list__item">
            <span class="span-number">100+</span>
            <span class="span-text">выполненных работ</span>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <script src="../scripts/menu.js"></script>
</body>
</html>